.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}


.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 2%;
  color: black;
  font-size: 1.4rem;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  
}

.rightInnerContainer img {
  margin-right: 10px; 
  background-color: black;
  border-radius: 50%; 
  padding: 8px; 
  box-sizing: content-box; 
}

/* .onlineIcon {
  margin-right: 5%;
}

.close-icon{
  width: 10%;
  
} */
