

nav {
  background-color: #2979FF; /* Blue background color */
  padding: 20px;
  text-align: center;
  border-radius: 0.75rem;
}

h1 {
  color: #fff; 
  font-family: 'Arial', sans-serif;
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Adjust font size as needed */
}

  
  
  